// background-color

$primary-bg-color: #ffffff;
$secondary-bg-color: #eaeaea;
$basic-grey: #f2f2f2;
$special-grey-2: #ebebeb;
$basic-green: #68b738;
$basic-green-2: #5eaa2f;
$basic-green-opacity: rgba(104, 183, 56, 0.85);

// text color

$primary-color: #000000;
$secondary-color: #ffffff;
$special_dark-grey: #444444;

// Viewports

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
