.address {
  display: flex;
  justify-content: space-between;

  padding: 20px 26px;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 95px;
    left: 110px;
    z-index: 1;

    margin-bottom: -201px;
    padding: 60px 80px;

    width: 565px;

    background-color: $primary-bg-color;
  }
}


.address__intro {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  text-align: left;
  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.address__description {
  margin: 0;

  line-height: 20px;
  text-align: left;

  color: $special_dark-grey;

  span {
    display: block;
  }

  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 16px;
    line-height: 20px;

    span {
      margin-top: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
