.button {
  @include button;

  &:hover {
    background-color: $basic-green-2;
  }

  &:focus {
    background-color: $basic-green-2;
  }

  &:active {
    background-color: $basic-green-2;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--light {
  color: $special_dark-grey;
  background-color: $basic-grey;

  &:hover {
    background-color: $special-grey-2;
  }

  &:focus {
    background-color: $special-grey-2;
  }

  &:active {
    background-color: $special-grey-2;
    color: $special_dark-grey;
  }
}
