.cards-all {
  grid-template: "header" auto "text" auto "button" 40px / 100%;
  justify-items: stretch;

  padding: 78px 20px 40px;

  background-image: url("../../icons/stack.svg#plus");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 50% 25px;

  @media (min-width: $tablet-width) {
    padding: 160px 37px 40px;
    background-color: transparent;
    background-position: 50% 50px;
    border: 1px solid $basic-grey;
  }

  @media (min-width: $tablet-width) {
    padding: 150px 38px 40px;
  }
}

.cards-all__title {
  position: relative;
  text-align: center;

  padding: 0;
  margin-bottom: 23px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0 56px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 16px;
  }
}

.cards__text {
  grid-area: text;
  margin: 0;
  margin-bottom: 21px;

  font-size: 12px;
  line-height: 16px;
  text-align: center;

  color: #444444;

  @media (min-width: $tablet-width) {
    margin-bottom: 82px;
    padding: 0 40px;

    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 90px;
  }
}
