.contacts {
  background-color: #f2f2f2;
}

.contacts__social-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.contacts__copyright {
  p {
    font-size: 16px;
    line-height: 20px;

    color: #444444;
  }
}
