.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;

    padding: 55px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 110px;
  }
}

.contacts__logo-text {
  padding: 20px 0;
  width: 128px;
  height: 64px;

  background-color: #111111;
  background-size: 128px 24px;
  mask-image: url("../../images/logo-text.svg");
  mask-position: center;
  mask-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    padding: 0;
    height: 24px;
  }
}

.contacts__social-list {
  display: flex;
  justify-content: center;
  gap: 24px;

  margin: 0;
  padding: 20px 0;
  width: 100%;

  list-style-type: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: auto;

    border: none;
  }
}

.contacts__social-link {
  display: block;
  width: 28px;
  height: 22px;

  background-color: #666666;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 28px 22px;
}

.contacts__social-link--vkontakte {
  mask-image: url("../../icons/stack.svg#icon-vkontakte");
}

.contacts__social-link--youtube {
  mask-image: url("../../icons/stack.svg#icon-youtube");
}

.contacts__social-link--telegram {
  mask-image: url("../../icons/stack.svg#icon-telegram");
}

.contacts__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    gap: 23px;
    padding: 0;
    width: auto;
  }
}

.contacts__copyright-text {
  margin: 0;

  font-size: 16px;
  line-height: 20px;

  color: #444444;
}

.contacts__copyright-pic {
  display: block;

  width: 27px;
  height: 34px;

  background-color: #666666;
  mask-image: url("../../icons/stack.svg#icon-html-academy");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 27px 34px;
}
