.example {
  background-color: $secondary-bg-color;
}

.example__title {
  margin: 0;

  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.example__description {
  margin: 0;

  color: $special_dark-grey;
}

.example__item__text {
  margin: 0;

  font-family: $secondary-font;
  line-height: 20px;
  text-align: center;
}
