.example {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 25px 20px 40px;

  background: $secondary-bg-color;

  @media (min-width: $tablet-width) {
    padding: 45px 30px 101px;

    background: linear-gradient($primary-bg-color 540px, $secondary-bg-color 540px);
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 227px;

    padding: 0 110px 75px;

    background: linear-gradient($primary-bg-color 136px, $secondary-bg-color 136px);
  }
}

.example__wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media (min-width: $tablet-width) {
    align-items: stretch;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;

  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 20px;

  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.example__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 167px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    gap: 55px;
  }
}

.example__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;

  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    gap: 42px;
  }
}

.example__item {
  position: relative;
  margin: 0;

  width: 124px;
  height: 70px;

  text-align: center;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 77px;
  }
}

.example__item-number {
  margin: 0;
  padding-top: 14.47;
  padding-bottom: 17.53;

  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;

  border: 1px solid $special-grey;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    padding-top: 15;
    padding-bottom: 20;

    font-size: 30px;
    line-height: 37px;
  }
}

.example__item-description {
  position: absolute;
  top: 47px;
  left: 50%;
  transform: translate(-50%);

  margin: 0;
  padding: 0 22px;

  font-size: 12px;
  line-height: 12px;
  color: $special_dark-grey;
  background-color: $secondary-bg-color;

  @media (min-width: $tablet-width) {
    top: 63px;
    padding: 0 9px;

    font-size: 14px;
    line-height: 14px;

    white-space: nowrap;
    background-color: $primary-bg-color;
  }

  @media (min-width: $desktop-width) {
    background-color: $secondary-bg-color;
  }
}

.example__text {
  display: flex;
  justify-content: center;
  gap: 3px;
  margin: 0;
  margin-bottom: 20px;

  font-family: $secondary-font;
  line-height: 20px;
  text-transform: uppercase;

  p:nth-child(1) {
    margin: 0;
  }

  p:nth-child(2) {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-end;
    margin: 11px 0 17px;

    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 63px;
    margin: 0;
  }
}
