.main-header__wrapper {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;

    padding: 25px 30px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 0;
    position: relative;
  }
}

.main-header__wrapper--index {
  @media (min-width: $desktop-width) {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;

      width: 50%;
      height: 694px;
      color: $secondary-color;
      background-color: $basic-green-opacity;
      background-image: linear-gradient($basic-green-opacity, $basic-green-opacity), url("../../images/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.main-header__logo-container {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 21px 20px 14px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-header__logo {
  @media (min-width: $tablet-width) {
    margin-right: 90px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-header__toggle {
  width: 24px;
  height: 24px;
  padding: 4px 0;

  border: none;
  mask-image: url("../../icons/stack.svg#navicon");
  background-color: #000000;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle--close {
  display: none;
  width: 18px;
  height: 18px;
  padding: 0;

  border: none;
  mask-image: url("../../icons/stack.svg#cross");
  background-color: #000000;
}

