.main-nav {
  display: flex;
  flex-direction: column;
  z-index: 1;

  background-color: $primary-bg-color;

  @media (max-width: 767px) {
    position: absolute;
    margin-bottom: 2px;
    width: 320px;
  }

  @media (min-width: $tablet-width) {
    justify-content: center;
  }

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;

    max-width: 500px;
  }
}

.main-nav__item {
  padding-top: 21px;
  padding-bottom: 24px;

  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding: 12px 0 8px;

    font-size: 18px;
    line-height: 24px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 0 8px;

    font-size: 20px;
    line-height: 29.64px;

    a {
      color: $secondary-color;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__item--active {
  @media (min-width: $tablet-width) {
    position: relative;
    pointer-events: none;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      height: 2px;
      background-color: $basic-green;
    }
  }
}

.main-nav__list--light {
  .main-nav__item--active {
    @media (min-width: $desktop-width) {
      &::after {
        background-color: $primary-bg-color;
      }
    }
  }
}

