.main-header {
  @media (max-width: 767px) {
    position: fixed;
    top: 0;
    z-index: 1;

    width: 320px;
    background-color: $primary-bg-color;
  }
}

.main-header__wrapper {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    gap: 94px;

    padding: 25px 34px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 0;
    position: relative;
  }
}

.main-header__wrapper--index {
  @media (min-width: $desktop-width) {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;

      width: 50%;
      height: 694px;
      color: $secondary-color;
      background-color: $basic-green-opacity;
      background-image: linear-gradient($basic-green-opacity, $basic-green-opacity), url("../../images/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient($basic-green-opacity, $basic-green-opacity), url("../../images/index-background-desktop@2x.jpg");
      }
    }
  }
}

.main-header__logo-container {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 21px 14px 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--active {
    pointer-events: none;
  }
}

.main-header__logo-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-header__toggle {
  width: 24px;
  height: 24px;
  padding: 4px 0;

  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle--open {
  mask-image: url("../../icons/stack.svg#navicon");
  background-color: #000000;
}

.main-header__toggle--close {
  display: none;
  width: 18px;
  height: 18px;
  padding: 0;

  border: none;
  mask-image: url("../../icons/stack.svg#cross");
  background-color: #000000;
}

