.programs__wrapper {
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 82px 110px 71px;
  }
}

.programs__list {
  display: grid;
  gap: 20px;

  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.programs__item {
  padding: 30px 33px 18px 20px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding: 77px 332px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 61px 55px 52px;
  }
}

.programs__item--slim {
  background-image: url("../../icons/stack.svg#icon-cat-slim");
  background-repeat: no-repeat;
  background-position: top 21px left 20px;
  background-size: 50px 53px;

  @media (min-width: $tablet-width) {
    background-image: url("../../icons/stack.svg#icon-cat-slim");
    background-repeat: no-repeat;
    background-position: top 50% right 63px;
    background-size: 200px 211px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../icons/stack.svg#icon-cat-slim");
    background-repeat: no-repeat;
    background-position: top 41px left 52px;
    background-size: 100px 106px;
  }
}

.programs__item--pro {
  background-image: url("../../icons/stack.svg#icon-cat-pro");
  background-repeat: no-repeat;
  background-position: top 24px left 13px;
  background-size: 67px 50px;

  @media (min-width: $tablet-width) {
    background-image: url("../../icons/stack.svg#icon-cat-pro");
    background-repeat: no-repeat;
    background-position: top 50% right 28.87px;
    background-size: 268px 200px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../icons/stack.svg#icon-cat-pro");
    background-repeat: no-repeat;
    background-position: top 47px left 33px;
    background-size: 134px 100px;
  }
}

.programs__title {
  margin: 0;
  margin-left: 90px;
  margin-bottom: 29px;
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 24px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.programs__description {
  margin: 0;
  margin-bottom: 23px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.programs__link {
  span {
    position: relative;
    font-family: $secondary-font;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 29.64px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 98px;
      transform: translateY(-50%);

      width: 24px;
      height: 12px;
      margin-right: 8px;

      background-image: url("../../icons/stack.svg#arrow");
      background-repeat: no-repeat;
      background-size: 24px 12px;
    }
  }

  &:hover {
    color: $primary-color;
  }

  &:focus {
    color: $primary-color;
  }

  &:active {
    opacity: 0.3;
  }
}
