.promo {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 302px;
    color: $secondary-color;
    background-color: $basic-green-opacity;
    background-image: linear-gradient($basic-green-opacity, $basic-green-opacity), url("../../images/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient($basic-green-opacity, $basic-green-opacity), url("../../images/index-background-mobile@2x.jpg");
    }

    /* @media (min-width: $tablet-width) {
      display: none;
    } */

    @media (min-width: $desktop-width) {
      position: absolute;
      right: 0;
      z-index: -1;

      width: 50%;
      height: 694px;
      color: $secondary-color;
      background-color: $basic-green-opacity;
      background-image: linear-gradient($basic-green-opacity, $basic-green-opacity), url("../../images/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.promo__wrapper {
  padding: 27px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 65px 30px 0;
  }
}

.promo__header {
  font-family: $secondary-font;
  text-align: center;

  color: $secondary-color;

  @media (min-width: $tablet-width) {
    padding-left: 90px;
    padding-right: 116px;
    color: $primary-color;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    color: $primary-color;
  }
}

.promo__intro {
  margin: 0;
  margin-bottom: 25px;

  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__slogan {
  margin: 0;
  margin-bottom: 29px;

  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__img {
  display: block;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    position: relative;
    margin: 0;
    bottom: 52px;
    left: 557px;
  }
}
