.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;

    max-width: 500px;
  }
}

.site-list__item {
  padding-top: 22px;
  padding-bottom: 24px;

  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding: 0;

    font-size: 18px;
    line-height: 24px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 29.64px;

    a {
      color: $secondary-color;
    }
  }
}
