.sub-products {
  padding: 23px 0 0;

  @media (min-width: $tablet-width) {
    padding: 74px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 71px 0 0;
  }
}

.sub-products__wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 35px;

  padding: 0 20px;


  @media (min-width: $tablet-width) {
    row-gap: 70px;

    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 81px;

    padding: 0 109px;
  }
}

.sub-products__title {
  position: relative;
  grid-area: header;
  margin: 0 0 36px 20px;
  width: fit-content;

  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  background-color: $primary-bg-color;
  box-shadow: -40px 0 0 0 $primary-bg-color, 40px 0 0 0 $primary-bg-color;

  &::after {
    content: "";
    position: absolute;
    background: $basic-green;
    height: 2px;
    right: 0;
    top: 50%;
    width: 100vw;
    box-shadow: 100vw 0 0 0 $basic-green;
    transform: translateY(-50%);
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 80px 70px;

    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 80px 110px;

    font-size: 40px;
    line-height: 40px;
  }
}

.sub-products__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;

  border-top: 1px solid $special-grey;
  border-bottom: 1px solid $special-grey;
}

.sub-products__item {
  display: grid;
  grid-template: "header" auto "table" auto "button" 40px;

  padding: 12px 0 19px;
  border-bottom: 1px solid $special-grey;

  &:last-child {
    border-bottom: none;
  }

  @media (min-width: $tablet-width) {
    grid-template: "header table" auto "button button" 40px;

    padding: 25px 38px 27px;

    border-left: 1px solid $special-grey;
    border-right: 1px solid $special-grey;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    gap: 40px;
    grid-template: "header table button" auto / 285px 285px 244px;
    align-items: center;

    height: 100%;

    padding: 15px 0;
    border-right: none;
    border-left: none;
  }
}

.sub-products__item-title {
  margin: 0;
  margin-bottom: 13px;

  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.sub-products__table {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 15px;

  font-size: 14px;
  line-height: 14px;

  color: #444444;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    column-gap: 51px;

    margin: 0;
    margin-left: auto;
    padding-top: 3px;

    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    margin: 0;
  }
}

.sub-products__table-number {
  grid-area: table;
  margin: 0;

  span {
    @media (min-width: $tablet-width) {
      margin: 0 0 0 9px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 9px 0 0;
    }
  }
}

.sub-products__button {
  grid-area: button;
  align-self: stretch;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $desktop-width) {
    align-self: center;
  }
}
